.up-dark {
  width: 0;
  height: 0;
  border: solid 5px transparent;
  background: transparent;
  border-bottom: solid 7px;
  border-top-width: 0;
  cursor: pointer;
}

.down-dark {
  width: 0;
  height: 0;
  border: solid 5px transparent;
  background: transparent;
  border-top: solid 7px;
  border-bottom-width: 0;
  margin-top: 1px;
  cursor: pointer;
}

.up-light {
  width: 0;
  height: 0;
  border: solid 5px transparent;
  background: transparent;
  border-bottom: solid 7px gray;
  border-top-width: 0;
  cursor: pointer;
}

.up-green {
  width: 0;
  height: 0;
  border: solid 10px transparent;
  background: transparent;
  border-bottom: solid 20px green;
  border-top-width: 0;
  cursor: pointer;
}

.down-red {
  width: 0;
  height: 0;
  border: solid 10px transparent;
  background: transparent;
  border-top: solid 20px red;
  border-bottom-width: 0;
  margin-top: 1px;
  cursor: pointer;
}

.down-light {
  width: 0;
  height: 0;
  border: solid 5px transparent;
  background: transparent;
  border-top: solid 7px gray;
  border-bottom-width: 0;
  margin-top: 1px;
  cursor: pointer;
}

.tab {
  display: inline-block;
  padding: 20px;
  margin-bottom: -2px;
  color: gray;
  font-weight: 600;
  font-size: 1rem;
}

.active-tab {
  display: inline-block;
  padding: 20px;
  margin-bottom: -2px;
  border-bottom: 2px solid rgb(0, 83, 156);
  color: rgb(51, 114, 170);
  font-weight: 600;
  font-size: 1rem;
}

.timeStamp {
  margin-left: 1rem;
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

.active-timeStamp {
  margin-left: 1rem;
  font-size: 1rem;
  color: rgb(56, 56, 56);
  border-bottom: 2px solid black;
}
